body{
    background: rgb(248, 230, 214);
    text-align: center;
}

table{
    margin-top: 250px;
    margin-left: 550px;
    border-collapse: collapse;
	border: 2px solid rgb(33, 59, 42);
}

td{
    border: 2px solid rgb(33, 59, 42);
}
